.admin-dashboard-next {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.admin-dashboard-next-info {
	width: 100%;
	height: 100%;
	padding: 8px;
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.admin-dashboard-next .dashboard-button {
	align-self: center;
}